@import "./../../../../styles.scss";

header {
  @include posi($l: 0, $t:800px);
  min-height: 104px;
  width: 100%;

  background: $nav-color;

  @include displayFlex();

  nav ul {
    @include displayFlex();
  }
}
