<header>
  <div class="header-section">
    <div class="logo-picture">
      <img
        class="background init"
        src="./assets/img/logo/logo_icon_dark.png"
        alt="logo"
      />
      <div>
        <p>P. Franke</p>
        <p><span>developer</span></p>
      </div>
    </div>
    <nav>
      <ul>
        <li [class.active]="selectedItem === 0" (click)="selectItem(0)">
          <a>Warum ich</a>
        </li>
        <li [class.active]="selectedItem === 1" (click)="selectItem(1)">
          <a>Skills</a>
        </li>
        <li [class.active]="selectedItem === 2" (click)="selectItem(2)">
          <a>Projekte</a>
        </li>
        <li [class.active]="selectedItem === 3" (click)="selectItem(3)">
          <a>Kontakt</a>
        </li>
      </ul>
    </nav>
    <div>DE EN</div>
  </div>
</header>
