<header>
  <div class="header-section">
    <div class="logo-picture" (click)="scrollToTop()">
      <img
        class="background init dark"
        src="./assets/img/logo/logo_icon_dark.png"
        alt="logo"
      />
      <img
        class="background init light"
        src="./assets/img/logo/logo_icon.png"
        alt="logo"
      />
      <div>
        <p>P. Franke</p>
        <p><span>developer</span></p>
      </div>
    </div>
    <nav class="nav-fullscreen">
      <ul>
        <li
          [class.active]="selectedItem === 0"
          (click)="selectItem(0); scrollTo('why-section')"
        >
          <a>Warum ich</a>
        </li>
        <li [class.active]="selectedItem === 1" (click)="selectItem(1)">
          <a>Skills</a>
        </li>
        <li [class.active]="selectedItem === 2" (click)="selectItem(2)">
          <a>Projekte</a>
        </li>
        <li [class.active]="selectedItem === 3" (click)="selectItem(3)">
          <a>Kontakt</a>
        </li>
      </ul>
    </nav>
    <div class="translate">DE EN</div>

    <nav class="nav-mobile" [ngClass]="{ open: menuOpen }">
      <ul>
        <li
          [class.active]="selectedItem === 0"
          (click)="selectItem(0); scrollTo('why-section')"
        >
          <a>Warum ich</a>
        </li>
        <li [class.active]="selectedItem === 1" (click)="selectItem(1)">
          <a>Skills</a>
        </li>
        <li [class.active]="selectedItem === 2" (click)="selectItem(2)">
          <a>Projekte</a>
        </li>
        <li [class.active]="selectedItem === 3" (click)="selectItem(3)">
          <a>Kontakt</a>
        </li>
        <li [class.active]="selectedItem === 4" (click)="selectItem(4)">
          <div class="translate2">DE EN</div>
        </li>
      </ul>
    </nav>
    <div class="burger" (click)="toggleMenu()" [class.toggleOpen]="!menuOpen" [class.toggleClose]="menuOpen"></div>
  </div>
</header>
