<section class="landing-section">
  <section class="profile-photo">
    <div class="image-section">
      <img
        class="background hover rotation"
        (mouseover)="showImage = true"
        (mouseout)="showImage = false"
        [class.visible]="showImage"
        src="./assets/img/profile_card/background_profile/hover.png"
        alt="background hover"
      />
      <img
        class="background init"
        (mouseover)="showImage = true"
        (mouseout)="showImage = false"
        [class.visible]="!showImage"
        src="./assets/img/profile_card/background_profile/init.png"
        alt="background init"
      />
      <img
        class="myself"
        src="./assets/img/profile_card/myself/myself2.png"
        alt="myself"
      />
    </div>
  </section>

  <section class="title-section">
    <div class="logo-section">
      <div
        class="logo-picture"
        (mouseover)="showLogo = true"
        (mouseout)="showLogo = false"
      >
        <img
          class="background hover"
          [class.visible]="showLogo"
          src="./assets/img/logo/logo_icon_full.png"
          alt="logo"
        />

        <img
          class="background init"
          [class.visible]="!showLogo"
          src="./assets/img/logo/logo_icon.png"
          alt="logo"
        />
      </div>

      <div>
        <p>P. Franke</p>
        <p><span>developer</span></p>
      </div>
    </div>

    <div class="overshoot-section">
      <h1>Philipp Franke</h1>
      <h2>FRONTEND DEVELOPER</h2>
    </div>

    <div
      class="button"
      (mouseover)="showButton = true"
      (mouseout)="showButton = false"
    >
      <img
        class="background hover"
        [class.visible]="showButton"
        src="./assets/img/buttons/button_body_hover.png"
        alt="button"
      />

      <img
        class="background init"
        [class.visible]="!showButton"
        src="./assets/img/buttons/button_body.png"
        alt="button"
      />

      <img src="./assets/img/buttons/arrow_up.png" alt="button" />
    </div>
  </section>

  <section class="icon-section">
    <a
      href="mailto:Phil89.Franke@googlemail.com"
      target="_blank"
      (mouseover)="showMail = true"
      (mouseout)="showMail = false"
    >
      @if(showMail){
      <img
        src="./assets/img/social_icons/mail_lightblue_hover.png"
        alt="mail"
      />
      } @else {
      <img src="./assets/img/social_icons/mail_dark.png" alt="mail" />
      }
    </a>

    <a
      href="https://github.com/PhilscheLogik"
      target="_blank"
      (mouseover)="showGithub = true"
      (mouseout)="showGithub = false"
    >
      @if(showGithub){
      <img
        src="./assets/img/social_icons/github_lightblue_hover.png"
        alt="github"
      />
      } @else {
      <img src="./assets/img/social_icons/github_dark.png" alt="github" />
      }
    </a>

    <a
      href="#"
      target="_blank"
      (mouseover)="showLinkedIn = true"
      (mouseout)="showLinkedIn = false"
    >
      @if(showLinkedIn){
      <img
        src="./assets/img/social_icons/linkedin_lightblue_hover.png"
        alt="Linked"
      />
      } @else {
      <img src="./assets/img/social_icons/linkedin_dark.png" alt="LinkedIn" />
      }
    </a>
  </section>
</section>
