<section class="landingPage">
    <section>
      <div>
        LOGO
        <div>
          <p>P.Franke</p>
          <p>developer</p>
        </div>
      </div>
  
      <div>
        <h1>Philipp Franke</h1>
        <h2>FRONTEND DEVELOPER</h2>
      </div>
  
      <div>Pfeil</div>
    </section>
  
    <section>
      <div>ICH Foto</div>
      <div>BG Ei blau</div>
      <div>BG Ei blau anderes deaktiv</div>
    </section>
  
    <section class="icon-section">ICON1 ICON2 ICON3</section>
  </section>
