@import "./../../../styles.scss";

.landing-section {
  height: calc(100vh - 104px - 100px);
  width: 85vw;
  max-width: 1440px;

  margin-top: 50px;
  margin-bottom: 50px;

  @include displayFlex($jc: space-between, $g: 0);
  @include posi($p: relative);
}

/*-------------*/

.profile-photo {
  height: 100%;
  // max-height: 700px;
  width: 55%;
  @include displayFlex($g: 0);
  flex: 1;

  .image-section {
    height: 100%;
    width: 100%;
    @include posi($p: relative);
    @include displayFlex($ai: flex-end, $g: 0);

    img {
      background: none;
      max-height: 100%;
      max-width: 80%;
      object-fit: cover;
    }

    .myself {
      max-height: 100%;
      max-width: 100%;
      // @include posi($r: 50%, $l: 50%);
      // transform: translate(-50%, -10%);
      @include posi($r: 50%, $l: 50%);
      transform: translate(-50%, 0%);
      z-index: 2;
      pointer-events: none;
      max-height: 800px;
    }

    .rotation {
      transform: rotate(7deg);
    }
  }
}

.background {
  @include posi();
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  z-index: 1;
  // max-height: 520px;
}

.hover.visible {
  opacity: 1;
}

.init.visible {
  opacity: 1;
}

/*-------------*/

h1 {
  font-size: 88px;
  font-family: anta;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

.title-section {
  width: 45%;
  height: 100%;
  padding: 0;
  @include displayFlex($fd: column, $jc: space-around);

  p {
    font-family: anta;

    span {
      font-family: jose;
      color: $nav-color;
    }
  }
}

.overshoot-section {
  margin-bottom: 15vh;
}

.logo-section {
  margin-top: 15vh; /* Abstand zum absoluten Element */

  @include displayFlex($fd: column, $g: 0);
  .logo-picture {
    @include displayFlex($fd: column, $g: 0);
    @include posi($p: relative);
    width: 100%;
    min-height: 40px;
  }
}

.button {
  width: 38px;
  height: 89px;
  padding: 19.5px 8px;
  border-radius: 100px;
  border: 1px solid $nav-color;
  color: $nav-color;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &:hover {
    background-color: rgba($nav-color, 0.12);
  }
}

/*-------------*/

.icon-section {
  @include displayFlex($fd: column);
  @include posi($t: 0, $r: 0);
}

.mail-link {
  background-image: url("./../../../assets/img/social_icons/mail_dark.png");

  &:hover {
    background-image: url("./../../../assets/img/social_icons/mail_lightblue_hover.png");
  }
}

.linkedin-link {
  background-image: url("./../../../assets/img/social_icons/linkedin_dark.png");

  &:hover {
    background-image: url("./../../../assets/img/social_icons/linkedin_lightblue_hover.png");
  }
}

.github-link {
  background-image: url("./../../../assets/img/social_icons/github_dark.png");

  &:hover {
    background-image: url("./../../../assets/img/social_icons/github_lightblue_hover.png");
  }
}

.github-link,
.linkedin-link,
.mail-link {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  width: 30px;
  height: 30px;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

@media (max-height: 900px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }
  .profile-photo {
    max-height: 300px;

    .image-section {
      .myself {
        max-height: 400px;
      }
    }
  }
}

@media (max-height: 650px) {
  .overshoot-section {
    margin-bottom: 8px;
  }
  .landing-section {
    align-items: flex-end;
  }
}

@media (max-width: 1300px) {
  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 32px;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }
}

@media (max-width: 1000px) {
  .profile-photo {
    .image-section {
      height: 100%;
      width: 100%;
      @include posi($p: relative);
      @include displayFlex($g: 0);

      img {
        background: none;
        max-height: 100%;
        max-width: 80%;
        object-fit: cover;
      }

      .myself {
        max-height: 100%;
        max-width: 100%;
        @include posi($r: 50%, $l: 50%);
        transform: translate(-50%, -10%);
        z-index: 2;
        pointer-events: none;
        max-height: 650px;
      }

      .rotation {
        transform: rotate(7deg);
      }
    }
  }

  .title-section {
    height: 35%;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .background {
    width: 500px;
  }

  .landing-section {
    flex-direction: column;
    height: 95vh;
    margin-top: 75px;
    justify-content: center;
  }

  .icon-section,
  .logo-section {
    display: none;
  }

  .overshoot-section {
    margin-bottom: 32px;
  }
}

@media (max-width: 450px) {
  .background {
    width: 450px;
  }

  .title-section {
    height: 65%;
  }
}
