<section>
  <h2>{{ "contact.head" | translate }}</h2>
  <div class="button" (click)="scrollToTop()"><img src="./assets/img/buttons/arrow_up.png" alt="button" /></div> 
  <div class="description">
    <p>
      {{ "contact.text" | translate }}
    </p>
    <div>
      <a href="mailto:Franke.Phil89@googlemail.com" target="_blank"
        ><div class="mail-img"></div>
        E-mail: Franke.Phil89&#64;googlemail.com</a
      >
      <a href="tel:+499123456789" target="_blank"
        ><div class="tel-img"></div>
        Tel: +49 9123456789</a
      >
    </div>
  </div>

  <form
    class="contact-form"
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
  >
    <div class="form-group">
      <label for="name">{{ "contact.name" | translate }}</label>
      <input
        [(ngModel)]="contactData.name"
        name="name"
        type="text"
        id="name"
        [attr.placeholder]="'contact.name' | translate"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">{{ "contact.mail" | translate }}</label>
      <input
        [(ngModel)]="contactData.mail"
        name="email"
        type="email"
        id="email"
        [attr.placeholder]="'contact.mail' | translate"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      <!-- pattern="[a-zäüößA-ZÄÜÖß0-9._%+\-]+@[a-zäüößA-ZÄÜÖß0-9.\-]+\.[a-zA-Z]{2,}" -->
      <!-- pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" -->
    </div>
    <div class="form-group full-width">
      <label for="message">{{ "contact.msg" | translate }}</label>
      <textarea
        [(ngModel)]="contactData.msg"
        name="message"
        id="message"
        [attr.placeholder]="'contact.msg' | translate"
        required
        #message="ngModel"
        minlength="4"
      >
      </textarea>
      @if(!message.valid && message.touched && !message.disabled){
      <span>Geht nicht</span>
      } @else{
       <div>✔</div>
      }


    </div>
    <div class="form-group full-width policy">
      <label class="check">
        <input
          type="checkbox"
          name="isChecked"
          [(ngModel)]="contactData.isChecked"
        />
        <span></span>
      </label>
      <p>
        {{ "contact.policy1" | translate }}
        <span>{{ "contact.policy2" | translate }}</span>
        {{ "contact.policy3" | translate }}
      </p>
    </div>
    <div class="form-group full-width">
      <div class="button-div">
        <button type="submit" [ngClass]="{ active: contactData.isChecked }">
          {{ "contact.send" | translate }}
        </button>
      </div>
    </div>
  </form>
</section>
