@import "./../../../styles.scss";

section {
  @include displayFlex($fd: column);
  min-height: 260px;
  height: calc(100vh - 214px - 2 * 16px);
  max-width: 1440px;
  padding: 8px 16px;
}

h2 {
  font-size: 42px;
  margin-bottom: 40px;
  font-family: anta;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: jose;
  a {
    text-decoration: none;
    cursor: default;
  }
}

div,
section {
  margin: 16px auto;
}

.button {
  width: 90px;
  height: 38px;
  padding: 8px 19.5px;
  border-radius: 100px;
  border: 1px solid $nav-color;
  color: $nav-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: rgba($nav-color, 0.12);
  }
}
