// $bg-color: lightgray;
// $nav-color: darkred;
// $text-color: black;

$bg-color: #262e34;
$nav-color: #89bcd9;
$text-color: #f8f5ec;
$hover-color: #262e341f;
$hightlight: #e44c36;
$signal: #97e163;
$gray: #757575;
$bg-color-lighter: #3f4e58;

@font-face {
  font-family: jose;
  src: url("./../assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: anta;
  src: url("./../assets/fonts/Anta/Anta-Regular.ttf") format("truetype");
}
