$bg-color: #262e34;
$nav-color: #89BCD9;
$text-color: #F8F5EC;
$hover-color: #262E341F;
$hightlight: #E44C36;
$signal: #97E163;


@font-face {
    font-family: jose;
    src: url('./../assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: anta;
    src: url('./../assets/fonts/Anta/Anta-Regular.ttf') format('truetype');
}
