@mixin displayFlex($fd: row, $jc: center, $ai: center, $g: 8px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin posi($p: absolute, $t: auto, $l: auto, $r: auto, $b: auto) {
  position: $p;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}
