@import "./../../../styles.scss";

section {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 60vw;
  font-family: jose;
}

h2 {
  font-size: 60px;
  text-align: center;
  font-family: anta;
  color: $nav-color;
  margin-bottom: 90px;
}

.content {
  @include displayFlex($ai: flex-start);
}

.left {
  @include displayFlex();
  font-size: 30px;
  width: 50%;
  padding-bottom: 16px;

  span {
    color: $nav-color;
  }
}

.location-icon {
  width: 4.65rem;
  height: 4rem;
  background-size: cover;
  background-position: center center;
}

.cursor {
  display: inline-block;
  width: 10px;
  animation: blink 0.7s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.right {
  @include displayFlex($fd: column, $jc: flex-end, $ai: flex-end);
  font-size: 18px;
  width: 50%;
  padding-left: 5%;

  div {
    margin-top: 30px;
  }
}

.button {
  padding: 13px 30px;
  border-radius: 100px;
  border: 1px solid $nav-color;
  color: $nav-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: rgba($nav-color, 0.12);
  }
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

@media (max-width: 1305px) {
  .left {
    font-size: 24px;
  }
  .right {
    font-size: 17px;
  }

  section {
    width: 70vw;
  }
}

@media (max-width: 1000px) {
  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .left {
    font-size: 18px;
    width: 100%;
  }
  .right {
    font-size: 16px;
    padding: 0;
    width: 100%;
  }

  .location-icon {
    background-image: url("./../../../assets/img/icons/icon_location_mobil.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2rem;
    height: 2.5rem;
  }

  section {
    width: 85vw;
    margin-top: 25px;
  }

  .content {
    @include displayFlex($fd: column);
  }

  .button {
    display: none;
  }
}
