<section>
  <h2>{{ "why.head" | translate }}</h2>
  <div class="content">
    <div class="left">
      <div class="location-icon"></div>
      <p>
        <span>{{ "why.leftPartOne" | translate }}</span>
        {{ "why.leftPartTwo" | translate }}
      </p>
    </div>

    <div class="right">
      <p>
        {{ "why.rightText" | translate }}
      </p>
      <div>
        <a (click)="scrollTo('contact-section')" class="button">{{
          "why.button" | translate
        }}</a>
      </div>
    </div>
  </div>
</section>
