<section>
  <h2>{{ "why.head" | translate }}</h2>
  <div class="content">
    <div class="left">
      <div
        class="location-icon"
        [ngStyle]="{ 'background-image': 'url(' + icons[currentIconIndex] + ')' }"
      ></div>
      <p>
        <span class="highlight">{{ displayPartOne }}</span> {{ displayPartTwo }}
        <span class="cursor">|</span>
      </p>
    </div>

    <div class="right">
      <p>
        {{ "why.rightText" | translate }}
      </p>
      <div>
        <a (click)="scrollTo('contact-section')" class="button">{{
          "why.button" | translate
        }}</a>
      </div>
    </div>
  </div>
</section>
