<section class="project-page">
  <h2>{{ "proj.title" | translate }}</h2>
  <!-- Navbar -->
  <nav class="navbar">
    @for(project of projects; track $index){
    <div
      class="nav-item"
      [class.active]="$index === selectedProjectIndex"
      (click)="selectProject($index)"
    >
      <span class="fullname">{{ project.title | translate }}</span>
      <span class="shortName">{{ project.id | translate }}. {{ project.name | translate }}</span>
    </div>
    }
  </nav>

  <app-proj-section class="project-section"
    [project]="projects[selectedProjectIndex]"
  ></app-proj-section>
</section>
