<footer>
  <section class="footer-section">
    <div class="info">
      <a routerLink="imprint" (click)="scrollToTop()">{{
        "footer.imprint" | translate
      }}</a>
      <p>© Philipp Franke 2024</p>
    </div>
    <div class="logo-picture">
      <img class="dark" src="./assets/img/logo/logo_icon_dark.png" alt="logo" />
      <div>
        <p>P. Franke</p>
        <p><span>developer</span></p>
      </div>
    </div>
    <section class="icon-section">
      <a
        class="mail-link"
        href="mailto:kontakt@franke-philipp.de"
        target="_blank"
      ></a>

      <a
        class="github-link"
        href="https://github.com/PhilscheLogik"
        target="_blank"
      ></a>

      <a
        class="linkedin-link"
        href="https://www.linkedin.com/in/philipp-franke-58b653350/"
        target="_blank"
      ></a>
    </section>
  </section>
</footer>
