@import "./../../../../styles.scss";

footer {
  width: 100%;
  font-size: 18px;
  background: $nav-color;
  @include displayFlex();
}

.footer-section {
  // gap: 16px;
  @include displayFlex($jc: space-between);

  padding: 71px 110px;
  max-width: 1440px;
  width: 100%;
}

a {
  text-decoration: none;
}

.logo-picture {
  @include displayFlex($fd: column, $g: 0);
  width: 58px;
  height: 72px;

  p {
    font-family: anta;
    font-size: small;

    span {
      font-family: jose;
      color: $bg-color;
    }
  }
}

.mail-link {
  background-image: url("./../../../../assets/img/social_icons/mail_lightblue.png");

  &:hover {
    background-image: url("./../../../../assets/img/social_icons/mail_white_hover.png");
  }
}

.linkedin-link {
  background-image: url("./../../../../assets/img/social_icons/linkedin_lightblue.png");

  &:hover {
    background-image: url("./../../../../assets/img/social_icons/linkedin_white_hover.png");
  }
}

.github-link {
  background-image: url("./../../../../assets/img/social_icons/github_lightblue.png");

  &:hover {
    background-image: url("./../../../../assets/img/social_icons/github_white_hover.png");
  }
}

.info {
  a,
  p {
    color: $gray;
  }

  a {
    &:hover {
      color: $text-color;
    }
  }
}

.icon-section {
  @include displayFlex();
  a {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    width: 30px;
    height: 30px;
  }
}

/*---------------------------------------------------*/
@media (max-width: 1000px) {
  .footer-section {
    display: grid;
    gap: 16px;
    padding: 30px 50px;
    grid-template-columns: 1fr; // Eine Spalte
    grid-template-rows: auto;
    grid-template-areas:
      "b" "c"
      "a"; // Neue Reihenfolge

    .info {
      grid-area: a;
      @include displayFlex();
    }
    .logo-picture {
      grid-area: b;
    }
    .icon-section {
      grid-area: c;
    }

    > div {
      width: 100%;
    }
  }
}
