<section>
  @if(!isPasswordCorrect()){
  <div class="pw-container">
    <h3>- Passwortabfrage -</h3>
    <p>
      Bitte geben Sie das Passwort ein, um fortzufahren. Eine Bestätigung via
      <i>'Enter'</i> oder einem <i>Button</i> wird nicht benötigt!
    </p>
    <input type="{{ visibility }}" [(ngModel)]="password" />
    <button (click)="toggleVisibility()">
      Sichtbarkeit des Passworts ändern.
    </button>
  </div>
  }
  <!--  -->
  @if(isPasswordCorrect()){
  <table class="tg">
    <thead>
      <tr>
        <td class="tg-head">Aufgabenbereich</td>
        <td class="tg-head">Link</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bewerbungsliste</td>
        <td>
          <a href="#" target="_blank">GoogleSheetsJobs</a>
        </td>
      </tr>
      <tr>
        <td>Lebenslauf</td>
        <td>
          <a href="#" target="_blank">GoogleDocsCV</a>
        </td>
      </tr>
      <tr>
        <td>Anschreiben</td>
        <td>
          <a href="#" target="_blank">Dropbox</a>
        </td>
      </tr>
    </tbody>
  </table>
  }
  <div>
    <a class="button" routerLink="">{{ "footer.back" | translate }}</a>
  </div>
</section>
