<section class="proj-content">
  <div class="left-right-section">
    <div class="left">
      <span class="duration">{{ project.duration | translate }}</span>
      @for (item of project.keyPoints; track $index) {
      <div>
        <img src="./../../../../assets/img/icons/ellipse_dot.svg" />
        <div>
          <h3>{{ project.keyPoints[$index].title | translate }}</h3>
          <p>{{ project.keyPoints[$index].text | translate }}</p>
        </div>
      </div>
      }
    </div>

    <div class="right">
      <h4>{{ project.title | translate }}</h4>
      <div>
        <div>
          <span>{{ project.tech | translate }}</span>
          <div class="icon-section img-icon">
            @for (item of project.techIcons; track $index) {
            <img [src]="project.techIcons[$index].imgPath" />
            }
          </div>
          <span class="icon-section txt-icon"> {{ project.techText }} </span>
        </div>
        <span class="txt-icon"> {{ project.duration | translate }} </span>
      </div>

      <img [src]="project.imgPath" />
    </div>
  </div>

  <div class="middle">
    @if(project.id != 4){
    <div>
      <a class="button" target="_blank" [href]="project.projectPath"
        >Live Test</a
      >

      <a class="button" target="_blank" [href]="project.gitHubPath">GitHub</a>
    </div>
    }
  </div>
</section>
