@import "./../../../styles.scss";

section {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 85vw;
  font-family: jose;
  overflow-x: auto;
  // scrollbar-width: none;

  > h4 {
    margin-bottom: 30px;
  }

  > h3,
  > h4 {
    position: sticky;
    top: 0;
    left: 0;
  }
}

h3 {
  font-size: 60px;
  text-align: center;
  color: $nav-color;
  margin-bottom: 60px;
  font-family: anta;
}

h4 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 8px;
}

a {
  font-size: 16px;
  color: $nav-color;
  cursor: pointer;
  z-index: 2;

  &:hover {
    color: $text-color;
  }
}

span {
  > span {
    color: $nav-color;
  }
}

.content {
  @include displayFlex();
  gap: 37px;
  width: 100%;
  min-width: 2050px;
  // overflow-x: auto;

  .bubble {
    min-width: 300px;
  }
}

.bubble {
  @include displayFlex($fd: column);
  flex: 1;
  padding: 71.5px 40.5px;
  font-size: 18px;

  width: 378px;
  height: 383px;
  hyphens: auto;

  text-align: center;

  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 0.5s steps(6, end);
    z-index: 0;
  }

  &::before {
    background-image: url("./../../../assets/img/background_mark/ellipse_skills.svg");
    opacity: 1;
  }

  &::after {
    background-image: url("./../../../assets/img/background_mark/ellipse_skills_hover.svg");
    opacity: 0;
    z-index: 1;
  }

  &:hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }    
  }

  .zoom {    
    background-image: url("./../../../assets/img/icons/zoom.svg");
    width: 30px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 40%;
    left: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: zoom-in;
    z-index: 2;
    border-radius: 16px;

    &:hover {
      border: 1px solid $nav-color;
      transform: scale(1.2);
    }
  }

  > span {
    margin-bottom: 12px;
  }

  p {
    width: 80%;
    flex: 1;
    max-height: 130px;
    overflow-y: auto;
    // scrollbar-width: none;
    padding-right: 4px;
    z-index: 2;
  }

  h4 {
    max-width: 150px;
  }
}

/*-------------------------------------------------------*/

@media (max-width: 1305px) {
  h3 {
    font-size: 46px;
  }
}

@media (max-width: 1200px) {
  section {
    position: relative;
  }

  h4 {
    font-size: 24px;
  }

  .bubble {
    padding: 51.5px 20.5px;
  }
}

@media (max-width: 1000px) {
  h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .content {
    text-align: left;
    gap: 8px;

    margin-right: 10px;
  }

  .bubble {
    align-items: flex-start;
    text-align: left;
    padding: 40px 20px 45px 70px;

    width: 290px;
    height: 271px;

    background-image: url("./../../../assets/img/background_mark/ellipse_ref_mobil.svg");

    p {
      text-align: left;
      width: 85%;
    }

    .zoom{

    }

    h3 {
      font-size: 24px;
      margin-bottom: 0;
    }
    h4 {
      margin-bottom: 8px;
    }

    &::before {
      background-image: none;
    }

    &::after {
      background-image: none;
    }
  }
}

@media (max-width: 400px) {
  section {
    width: 100%;
  }

  .content {
    gap: 4px;
  }

  .bubble {
    padding-right: 20px;
  }
}
