<section>
  <h3>{{ "ref.head" | translate }}</h3>
  <div class="content">
    <div class="bubble">
      <h4>{{ "ref.userName1" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject1" | translate }}</span></span
      >
      <p>'{{ "ref.userText1" | translate }}'</p>
      <a href="https://github.com/PhilscheLogik" target="_blank">{{
        "ref.link" | translate
      }}</a>
    </div>
    <div class="bubble">
      <h4>{{ "ref.userName2" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject2" | translate }}</span></span
      >
      <p>'{{ "ref.userText2" | translate }}'</p>
      <a href="https://github.com/PhilscheLogik" target="_blank">{{
        "ref.link" | translate
      }}</a>
    </div>
    <div class="bubble">
      <h4>{{ "ref.userName3" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject3" | translate }}</span></span
      >
      <p>'{{ "ref.userText3" | translate }}'</p>
      <a href="https://github.com/PhilscheLogik" target="_blank">{{
        "ref.link" | translate
      }}</a>
    </div>
  </div>
</section>
