<section>
  <div
    class="overlay"
    (click)="changeText('')"
    [ngClass]="{ d_none: text == '' }"
  >
    {{ text }}
  </div>
  <h3>{{ "ref.head" | translate }}</h3>
  <h4>{{ "ref.head2" | translate }}</h4>
  <div class="content">
    <div class="bubble">
      <h4>{{ "ref.userName1" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject1" | translate }}</span></span
      >
      <p>'{{ "ref.userText1" | translate }}'</p>
      <a href="https://github.com/DomuStyle" target="_blank">{{
        "ref.link" | translate
      }}</a>

      <div class="zoom" (click)="changeText('ref.userText1')"></div>
    </div>
    <div class="bubble">
      <h4>{{ "ref.userName2" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject2" | translate }}</span></span
      >
      <p>'{{ "ref.userText2" | translate }}'</p>
      <a href="https://github.com/MartinBock1" target="_blank">{{
        "ref.link" | translate
      }}</a>
      <div class="zoom" (click)="changeText('ref.userText2')"></div>
    </div>
    <div class="bubble">
      <h4>{{ "ref.userName3" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject3" | translate }}</span></span
      >
      <p>'{{ "ref.userText3" | translate }}'</p>
      <a href="https://github.com/NormannBlum" target="_blank">{{
        "ref.link" | translate
      }}</a>
      <div class="zoom" (click)="changeText('ref.userText3')"></div>
    </div>
    <div class="bubble">
      <h4>{{ "ref.userName4" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject4" | translate }}</span></span
      >
      <p>'{{ "ref.userText4" | translate }}'</p>
      <a href="https://github.com/DomuStyle" target="_blank">{{
        "ref.link" | translate
      }}</a>
      <div class="zoom" (click)="changeText('ref.userText4')"></div>
    </div>
    <div class="bubble">
      <h4>{{ "ref.userName5" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject5" | translate }}</span></span
      >
      <p>'{{ "ref.userText5" | translate }}'</p>
      <a href="https://github.com/Ismail-B" target="_blank">{{
        "ref.link" | translate
      }}</a>
      <div class="zoom" (click)="changeText('ref.userText5')"></div>
    </div>
    <div class="bubble">
      <h4>{{ "ref.userName6" | translate }}</h4>
      <span
        >{{ "ref.project" | translate }}
        <span>{{ "ref.userProject6" | translate }}</span></span
      >
      <p>'{{ "ref.userText6" | translate }}'</p>
      <a href="https://github.com/Cedeta" target="_blank">{{
        "ref.link" | translate
      }}</a>
      <div class="zoom" (click)="changeText('ref.userText6')"></div>
    </div>
  </div>
</section>
