/* You can add global styles to this file, and also import other style files */
@import "./styles/colors.scss";
@import "./styles/mixins.scss";

* {
  margin: 0;
  padding: 0;

  font-family: jose;
  color: $text-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
}


section {
  max-width: 1440px;
}


// section {
//   border: 2px lightgreen solid;

//   div {
//     border: 2px crimson solid;
//   }

//   img {
//     border: 2px lightsalmon solid;
//   }
// }